.message-list {
	padding-left: 0;

	li {
		list-style: none;
		overflow: hidden;
	}

	.author {
		overflow: hidden;
		margin-bottom: 30px;

		img {
			border-radius: 100%;
			float: left;
			height: 50px; width: 50px;
		}

		p {
			height: 50px;
			float: left;
			vertical-align: middle;
			margin: 0 15px;
			line-height: 50px;
		}
	}

	.actions {
		background-color: #f9fbfd;
		margin: 40px -40px -40px;
		padding: 20px;
	}
}
